# database
POSTGRES_DB=hotels
POSTGRES_USER=user
POSTGRES_PASSWORD=passpass
POSTGRES_PORT=5432
# app
BATCH_SIZE=500
# макс. размер одной NDJSON-строки в байтах (по умолчанию 16 МБ)
MAX_LINE_SIZE=16777216
